## CHAPTER 5
# Getting Started with pandas

- Data structures with labeled axes supporting automatic or explicit data alignment.
- Integrated time series functionality
- The same data structures handle both time series data and non-time series data.
- Arithmetic operations and reductions would pass on the metadata (axis labels).
- Flexible handling of missing data
- Merge and other relational operations found in popular d atabase.

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

## Introduction to pandas Data Structures
### Series
One-dimensional array-like object containing an array of data (of any NumPy data type) and an associated of data labels, called its *index*.

In [2]:
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [8]:
obj.values

array([ 4,  7, -5,  3])

In [9]:
obj.index    # N - 1

RangeIndex(start=0, stop=4, step=1)

In [10]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [11]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [12]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [13]:
obj2['a']

-5

In [14]:
obj2['d'] = 6

In [15]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [16]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [17]:
# NumPy array operations(filtering w/ boolean array, scalar multiplication, applying math functions)
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [18]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [19]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [20]:
'b' in obj2  # for index

True

In [21]:
'e' in obj2

False

In [31]:
obj2[-3:-1]

b    7
a   -5
dtype: int64

In [32]:
obj2 % 2

d    0
b    1
a    1
c    1
dtype: int64

In [22]:
# compare to Python dict
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)

In [24]:
type(obj3)

pandas.core.series.Series

In [33]:
type(sdata)

dict

In [36]:
sdata['Ohio']

35000

In [37]:
obj3['Ohio']

35000

In [38]:
obj3[1]

16000

In [39]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [40]:
obj4 = Series(sdata, index=states)

In [41]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [46]:
obj4.isna()

AttributeError: 'Series' object has no attribute 'isna'

In [42]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [43]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [44]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [49]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [58]:
obj4[-obj4.isnull()]

Ohio      35000.0
Oregon    16000.0
Texas     71000.0
dtype: float64

In [61]:
del(obj4['California'])

In [62]:
obj4

Ohio      35000.0
Oregon    16000.0
Texas     71000.0
dtype: float64

In [52]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [53]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [50]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [54]:
obj3*obj4

California             NaN
Ohio          1.225000e+09
Oregon        2.560000e+08
Texas         5.041000e+09
Utah                   NaN
dtype: float64

In [ ]:
obj4.name = 'population'

In [ ]:
obj4

In [ ]:
obj4.name

In [ ]:
obj4.index.name = 'state'

In [ ]:
obj4

In [ ]:
obj

In [ ]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [ ]:
obj

### DataFrame
- Spreadsheet-like data structure containing an ordered collection of columns
- Different value type (numeric, string, boolean, etc.)
- Has both a row and column index -> as a dict of Series

In [3]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)

In [4]:
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [5]:
# specify a sequence of columns
DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [6]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                  index=['one', 'two', 'three', 'four', 'five'])

In [7]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

In [8]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [9]:
# retrieve value
frame2['state'].value_counts()

Ohio      3
Nevada    2
Name: state, dtype: int64

In [10]:
frame2.state

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

In [11]:
type(frame2.state)

pandas.core.series.Series

In [12]:
frame2.year    # Type???

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

In [14]:
# retrieve by rows
frame2.ix['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [20]:
frame2.ix[2]

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [25]:
# assign a value
frame2['debt'] = 16.5

In [26]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5

In [30]:
frame2['debt'] = range(5)    #* if > 5.0, what will happen ???

In [28]:
list(range(5))

[0, 1, 2, 3, 4]

In [31]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4

In [32]:
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])

In [33]:
val

two    -1.2
four   -1.5
five   -1.7
dtype: float64

In [34]:
frame2['debt'] = val

In [35]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7

In [38]:
frame2['eastern'] = frame2.state == 'Ohio'

In [39]:
frame2

       year   state  pop  debt eastern
one    2000    Ohio  1.5   NaN    True
two    2001    Ohio  1.7  -1.2    True
three  2002    Ohio  3.6   NaN    True
four   2001  Nevada  2.4  -1.5   False
five   2002  Nevada  2.9  -1.7   False

In [40]:
frame2['state'].value_counts()

Ohio      3
Nevada    2
Name: state, dtype: int64

In [41]:
frame2['state'].unique()

array(['Ohio', 'Nevada'], dtype=object)

In [42]:
del frame2['eastern']

In [43]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7

In [44]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [45]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
      'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [46]:
frame3 = DataFrame(pop)

In [47]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [48]:
frame3.T

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

In [49]:
DataFrame(pop, index=[2001, 2002, 2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [50]:
pdata = {'Ohio': frame3['Ohio'][:-1],   # -1 ???
        'Nevada': frame3['Nevada'][:3]}

In [51]:
DataFrame(pdata)

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   NaN

In [52]:
frame3.index.name = 'year'; frame3.columns.name = 'state'

In [ ]:
frame3

In [53]:
frame3.values     # return type?

array([[ nan,  1.5],
       [ 2.4,  1.7],
       [ 2.9,  3.6]])

In [54]:
frame2.values    # different type?

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, -1.2],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, -1.5],
       [2002, 'Nevada', 2.9, -1.7]], dtype=object)

*Possible data inputs to DataFrame constructor*

|Type|Notes|  
|----------|---------------------------------|  
|2D ndarray||  
|dict of arrays, list, or tuples||  
|NumPy structed/record array||  
|dict of Series||  
|dict of dicts||  
|list of dicts or Series||  
|List of lists or tuples||  
|Another DataFrame||  
|NumPy MaskedArray||

### Index Objects

In [55]:
obj = Series(range(3), index=['a', 'b', 'c'])

In [56]:
index = obj.index

In [57]:
index

Index(['a', 'b', 'c'], dtype='object')

In [58]:
obj.values

array([0, 1, 2])

In [59]:
index[1:]

Index(['b', 'c'], dtype='object')

In [60]:
index[1] = 'd'  # Index objects are immutable

TypeError: Index does not support mutable operations

In [ ]:
index = pd.Index(np.arange(3))

In [ ]:
index

In [ ]:
obj2 = Series([1.5, -2.5, 0], index=index)
obj2

In [ ]:
obj2.index is index

*Main index object in pandas*

|Class|Description|
|------|----------|
|Index|The most general Index object, representing axis labels in a NumPy array of objects.|
|Int64Index|Specialized Index for integer values|
|MultiIndex|"Hierachical" index object representing multiple levels of indexing on a single axis. Can be thought of as similar to an array of tuples.|
|DatetimeIndex|Stores nanosecond timestamps (represented using NumPy's datetime64 type).|
|PrediodIndex|Specialized Index for Period data (timespans).|

In [ ]:
frame3

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2003 in frame3.index

*Index methods and properties*

|Method|Descriptin
|-----------|----------------------------------------------|
|append||
|diff||
|intersection||
|union||
|isin||
|delete||
|drop||
|insert||
|is_monotonic||
|is_unique||
|unique||

## Essential Functinality
### Reindexing

In [61]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [62]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [65]:
obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64

In [66]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'd'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
d    4.5
dtype: float64

In [67]:
obj3 = Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [68]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

*reindex method (interpolation) options*

|Argument|Description|
|------------------|------------------------------------|
|ffill or pad|Fill(or carry) values forward|
|bfill or backfill|Fill(or carry) values backward|

In [69]:
frame = DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'],
                  columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [70]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [71]:
states = ['Texas', 'Utah', 'California']

In [72]:
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [73]:
frame.reindex(index=['a', 'b', 'c', 'd'], method='ffill',
             columns=states)

   Texas  Utah  California
a      1   NaN           2
b      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [74]:
# reindexing by label-indexing with ix
frame.ix[['a', 'b', 'c', 'd'], states]

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

*reindex function arguments*

|Argument|Description|
|-------------|-------------------------------------------------|
|index||
|method|Interpolation (fill) method|
|fill_value|Substitute values to use when introducing missing data by reindexing|
|limit|When forward-or backfilling, maximum size gap to fill|
|level|match simple idnex on level of Multiindex, otherwise select subset of|
|copy|If True, always copyunderlying data even if new index is equivalent to old index. If False, do not copy the data when the indexes are equivalent|

### Dropping entries from an axis

In [75]:
obj = Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [76]:
new_obj = obj.drop('c')

In [81]:
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [82]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [83]:
obj.drop(['d', 'c'])

a    0.0
b    1.0
e    4.0
dtype: float64

In [ ]:
# obj?

In [84]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [ ]:
data = DataFrame(np.arange(16).reshape(4, 4),
                index=['Ohio', 'Colorado', 'Utah', 'New York'],
                columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.drop(['Colorado', 'Ohio'])

In [ ]:
data.drop('two', axis=1)

In [ ]:
data.drop(['two', 'four'], axis=1)

### Indexing, selection, and filtering
Seriese

In [85]:
obj = Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [ ]:
obj['b']

In [ ]:
obj[1]

In [ ]:
obj[2:4]

In [ ]:
obj[['b', 'a', 'd']]

In [ ]:
obj[[1, 3]]

In [ ]:
obj[obj < 2]

In [ ]:
## endpoint(?)
obj['b':'c']

In [86]:
obj['b':'c'] = 5

In [87]:
obj

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

DataFrame

In [88]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [89]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [ ]:
data[['three', 'one']]

In [ ]:
data[:2]

In [93]:
data.ix[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [ ]:
data[data['three'] > 5]

In [ ]:
data < 5

In [ ]:
data[data < 5] = 0

In [ ]:
data

In [ ]:
data.ix['Colorado', ['two', 'three']]

In [ ]:
data.ix[['Colorado', 'Utah'], [3, 0, 1]]

In [ ]:
data.ix[2]

In [ ]:
data.ix[:'Utah', 'two']

In [ ]:
data.ix[data.three > 5, :3]

*Indexing options with DataFrame*

|Type|Notes|
|----------------------|-----------------------------------------------|
|obj[val]|Selects single row or subset of rows from the DataFrame.|
|obj.ix[:, val]|Selects single column of subset of columns.|
|obj.ix[val1, val2]|Select both rows and columns|
|reindex method||
|xs method||
|icol, irow methods||
|get_value, set_value methods||

### Arithmetic and data alignment

In [94]:
s1 = Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [95]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [96]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [ ]:
s1 + s2

In [ ]:
df1 = DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                index=['Ohio', 'Texas', 'Colorado'])
df2 = DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
               index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

#### Arithmetic methods with fill values

In [97]:
df1 = DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df2 = DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))

In [98]:
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [99]:
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [100]:
df1 + df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
df1.reindex(columns=df2.columns, fill_value=0)

*Flexible arithmetic methods*

|Method|Description|
|---------|---------------------|
|add||
|sub||
|div||
|mul||

#### Operations between DataFrame and Series

In [ ]:
arr = np.arange(12.).reshape((3, 4))

In [ ]:
arr

In [ ]:
arr[0]

In [ ]:
arr - arr[0]

In [ ]:
frame = DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                 index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
series = frame.ix[0]
series

In [ ]:
frame - series

In [ ]:
series2 = Series(range(3), index=['b', 'e', 'f'])
series2

In [ ]:
frame + series2

In [ ]:
series3 = frame['d']
series3

In [ ]:
frame

In [ ]:
frame.sub(series3, axis=0)    # axis='index'

### Function application and mapping
- NumPy ufuncs work fine with pandas objects

In [110]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah    1.537198 -2.173971  0.398944
Ohio    0.188091  0.077974 -0.180791
Texas   0.945741  1.206120 -0.422729
Oregon  1.269484  0.280665  0.010887

In [102]:
np.abs(frame)

               b         d         e
Utah    0.471122  1.414716  0.942043
Ohio    1.779686  0.530801  0.212999
Texas   0.645664  1.250595  1.467058
Oregon  0.995476  0.875314  0.846798

In [105]:
# apply
f = lambda x: x.max() - x.min()

In [107]:
frame.apply(f)

b    2.250807
d    2.665311
e    1.254058
dtype: float64

In [109]:
frame.apply(f, axis=0)  # axis='columns'

b    2.250807
d    2.665311
e    1.254058
dtype: float64

In [ ]:
# 'apply' need not return a scalar value, it can also return a Series with multiple values
def f(x):
    return Series([x.min(), x.max()], index=['min', 'max'])  # ???

In [ ]:
frame.apply(f)

In [111]:
# applymap
format = lambda x: '%.2f' % x

In [112]:
frame.applymap(format)

           b      d      e
Utah    1.54  -2.17   0.40
Ohio    0.19   0.08  -0.18
Texas   0.95   1.21  -0.42
Oregon  1.27   0.28   0.01

In [ ]:
# def format(x):
#     return '%.2f' % x

In [113]:
frame['e'].map(format)

Utah       0.40
Ohio      -0.18
Texas     -0.42
Oregon     0.01
Name: e, dtype: object

### Sorting and ranking

In [114]:
obj = Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [115]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [116]:
frame = DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],
                 columns=['d', 'a', 'b', 'c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [117]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [120]:
frame.sort_index(axis=0)  # axis='columns'

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [ ]:
# order
frame.sort_index(axis=1, ascending=False)

In [122]:
# sort_values() : to sort a Series   - 2.x - sort()
obj = Series([4, 7, -3, 2])
obj

0    4
1    7
2   -3
3    2
dtype: int64

In [123]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [124]:
obj = Series([4, np.nan, 7, np.nan, -3, 2])
obj

0    4.0
1    NaN
2    7.0
3    NaN
4   -3.0
5    2.0
dtype: float64

In [125]:
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [126]:
# For dataframe
frame = DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

   a  b
0  0  4
1  1  7
2  0 -3
3  1  2

In [127]:
frame.sort_values(by='b')

   a  b
2  0 -3
3  1  2
0  0  4
1  1  7

In [128]:
frame.sort_values(by=['a', 'b'])

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7

In [129]:
# rank - Compute numerical data ranks
obj = Series([7, -5, 7, 4, 2, 0, 4])
obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [130]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [131]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [132]:
obj.rank(ascending=False, method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

*Tie-breaking methods with rank*

|Method|Description
|----------------|----------------------------------------|
|'average'|**default**:assign the average rank to each entry in the equal group.|
|'min'|Use the minimum rank for the whole group|
|'max'|Use the maximum rank for the whole group|
|'first'|Assign ranks in the order the values appear in the data|

In [133]:
frame = DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                  'c': [-2, 5, 8, -2.5]})
frame

   a    b    c
0  0  4.3 -2.0
1  1  7.0  5.0
2  0 -3.0  8.0
3  1  2.0 -2.5

In [134]:
frame.rank(axis=1)  ## axis='columns'

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0

### Axis indexes with duplicate values

In [135]:
obj = Series(range(5), index=['a', 'a', 'b', 'b', 'c'])

In [136]:
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [145]:
obj.info

AttributeError: 'Series' object has no attribute 'info'

In [138]:
obj['a']

a    0
a    1
dtype: int64

In [139]:
obj['c']

4

In [140]:
df = DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])

In [141]:
df

          0         1         2
a  0.697573 -1.644846 -0.327425
a -0.466187 -1.336337  0.465322
b -0.471302  1.728564  1.383848
b  0.313616  1.816916 -0.037378

In [142]:
df.ix['b']

          0         1         2
b -0.471302  1.728564  1.383848
b  0.313616  1.816916 -0.037378

## Summarizing and Computing Descriptive Statistics

In [146]:
df = DataFrame([[1.4, np.nan], [7.1, -4.5],
               [np.nan, np.nan], [0.75, -1.3]],
              index=['a', 'b', 'c', 'd'],
              columns=['one', 'two'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 2 columns):
one    3 non-null float64
two    2 non-null float64
dtypes: float64(2)
memory usage: 96.0+ bytes

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1)

In [ ]:
df.mean(axis=1, skipna=False)  # skipna

In [ ]:
df.mean(axis=1)  # skipna

*Options for reduction methods*


|Method|Description|
|-----------|------------------------------------|
|axis|Axis to reduce over. **0 for DataFrame's rows and 1 for columns**|
|skipna|Exclude missing values, **True** by default|
|level|Reduce qrouped by level if the axis is hierarchically-indexed(Multiindex)|

In [ ]:
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
# on non-numeric data
obj = Series(['a', 'a', 'b', 'c'] * 4)

In [ ]:
obj.describe()

*Descriptive and summary statistics*

|Method|Description|
|-------------|--------------------------------------------------|
|count||
|describe||
|min, max||
|argmin, argmax||
|idxmin, idxmax||
|quantile|Compute sample quantile ranging from 0 to 1|
|sum||
|mean||
|median||
|mad||
|var||
|std||
|skew||
|kurt||
|cumsum||
|cumin, cummax||
|cumprod||
|diff||
|pct_change||

### Correlation and Covariance

In [ ]:
import pandas_datareader.data as web

all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker)
    
price = DataFrame({tic: data['Adj Close'] 
                  for tic, data in all_data.items()})
volume = DataFrame({tic: data['Volume']
                   for tic, data in all_data.items()})

In [ ]:
returns = price.pct_change()

In [ ]:
returns.tail()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
pd.scatter_matrix(returns, diagonal='kde', alpha=0.3)

In [ ]:
returns.MSFT.corr(returns.IBM)

In [ ]:
returns.MSFT.cov(returns.IBM)

In [ ]:
# correlation & covariance
returns.corr()

In [ ]:
returns.cov()

In [ ]:
# corrwith()
returns.corrwith(returns.IBM)

In [ ]:
returns.corrwith(volume)

### Unique Values, Value Counts, and Membership

In [ ]:
obj = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [ ]:
uniques = obj.unique()

In [ ]:
uniques

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values, sort=False)

In [ ]:
mask = obj.isin(['b', 'c'])
mask

In [ ]:
obj[mask]

*Unique, values counts, and binning methods*

|Method|Description|
|------------|---------------------------------|
|isin||
|unique||
|value_counts||

In [ ]:
# compute a histogram
data = DataFrame({'Qu1': [1, 3, 4, 3, 4],
                 'Qu2': [2, 3, 1, 2, 3],
                 'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts).fillna(0)
result

## Handling Missing Data

In [ ]:
# NaN : Not a Number (floating point value)
string_data = Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

In [ ]:
string_data.isnull()

In [ ]:
string_data

In [ ]:
string_data.isnull()

*NA handling methods*

|Argument|Description|
|-------------|--------------------|
|dropna||
|fillna||
|isnull||
|notnull||

### Filtering Out Missing Data

In [151]:
from numpy import nan as NA

In [152]:
data = Series([1, NA, 3.5, NA, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [ ]:
data.dropna()

In [ ]:
data[data.notnull()]

In [149]:
# For DataFrame
data = DataFrame([[1., 6.5, 3.], [1., NA, NA],
                 [NA, NA, NA], [NA, 6.5, 3.]])
data

NameError: name 'NA' is not defined

In [ ]:
cleaned = data.dropna()
cleaned

In [ ]:
data.dropna(how='all')  # how='all' - only drop rows that are all NA

In [ ]:
data[4] = NA
data

In [ ]:
data.dropna(axis=1, how='all')

In [155]:
# thresh argument
df = DataFrame(np.random.randn(7, 3))
df

          0         1         2
0  1.470790  1.224102 -0.637193
1 -1.700965 -0.099283 -0.874597
2 -1.289976 -0.481220 -0.414770
3 -0.870714  1.000822 -0.905123
4 -1.009341  1.456559  0.640241
5 -0.932029 -0.268341  1.320049
6  0.662698  2.857950 -0.798153

In [156]:
df.ix[:4, 1] = NA; df.ix[:2, 2] = NA
df

          0         1         2
0  1.470790       NaN       NaN
1 -1.700965       NaN       NaN
2 -1.289976       NaN       NaN
3 -0.870714       NaN -0.905123
4 -1.009341       NaN  0.640241
5 -0.932029 -0.268341  1.320049
6  0.662698  2.857950 -0.798153

In [158]:
df.dropna(thresh=2)

          0         1         2
3 -0.870714       NaN -0.905123
4 -1.009341       NaN  0.640241
5 -0.932029 -0.268341  1.320049
6  0.662698  2.857950 -0.798153

### Filling in Missing Data

In [159]:
df.fillna(0)

          0         1         2
0  1.470790  0.000000  0.000000
1 -1.700965  0.000000  0.000000
2 -1.289976  0.000000  0.000000
3 -0.870714  0.000000 -0.905123
4 -1.009341  0.000000  0.640241
5 -0.932029 -0.268341  1.320049
6  0.662698  2.857950 -0.798153

In [160]:
df.fillna({1: 0.5, 2: -1})

          0         1         2
0  1.470790  0.500000 -1.000000
1 -1.700965  0.500000 -1.000000
2 -1.289976  0.500000 -1.000000
3 -0.870714  0.500000 -0.905123
4 -1.009341  0.500000  0.640241
5 -0.932029 -0.268341  1.320049
6  0.662698  2.857950 -0.798153

In [161]:
# fillna returns a new object, but can modify the exsiting object in place
_ = df.fillna(0, inplace=True)

In [162]:
df

          0         1         2
0  1.470790  0.000000  0.000000
1 -1.700965  0.000000  0.000000
2 -1.289976  0.000000  0.000000
3 -0.870714  0.000000 -0.905123
4 -1.009341  0.000000  0.640241
5 -0.932029 -0.268341  1.320049
6  0.662698  2.857950 -0.798153

In [163]:
df = DataFrame(np.random.randn(6, 3))

In [164]:
df.ix[2:, 1] = NA; df.ix[4:, 2] = NA

In [165]:
df

          0         1         2
0 -0.536530  2.321679 -0.495429
1 -2.258140  1.749521  2.555197
2  0.896011       NaN -1.031255
3 -0.018517       NaN -1.127038
4  0.396021       NaN       NaN
5  0.840105       NaN       NaN

In [ ]:
df.fillna(method='ffill')

In [ ]:
df.fillna(method='ffill', limit=2)

In [166]:
data = Series([1., NA, 3.5, NA, 7])

In [168]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

*fillna function arguments*

|Argument|Description|
|--------|-----------|
|value||
|method||
|axis|default axis=0|
|**inplace**|Modify the calling objct without producing a copy|
|limit||

## Hierarchical Indexing
Enable to have multiple index *levels* on an axis

In [ ]:
data = Series(np.random.randn(10), 
             index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],
                    [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])
data

In [ ]:
data.index  # ??? labels

In [ ]:
# partial indexing
data['b']

In [ ]:
data['b':'c']

In [ ]:
data.ix[['b', 'd']]

In [ ]:
# "inner" level
data[:, 2]

Hierachical indexing playes a critical role in reshaping data and group-based operations like formating a pivot table.

In [ ]:
data.unstack()

In [ ]:
data.unstack().stack()

In [ ]:
frame = DataFrame(np.arange(12).reshape((4, 3)),
                 index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                 columns=[['Ohio', 'Ohio', 'Colorado'],
                         ['Green', 'Red', 'Green']])
frame

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

In [ ]:
frame['Ohio']

In [ ]:
# MultiIndex (???)
pd.MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']],
                      names=['state', 'color'])

### Reordering and Sorting Levels

In [ ]:
# swaplevel
frame.swaplevel('key1', 'key2')

In [ ]:
# sortlevel
frame.sortlevel(1)

In [ ]:
frame.swaplevel(0, 1).sortlevel(0)

 ### Summary Statistics by Level

In [ ]:
frame.sum(level='key2')

In [ ]:
frame.sum(level='color', axis=1)

### Using a DataFrame's Columns

In [ ]:
frame = DataFrame({'a': range(7), 'b': range(7, 0, -1),
                   'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
                   'd': [0, 1, 2, 0, 1, 2, 3]})
frame

In [ ]:
frame2 = frame.set_index(['c', 'd'])
frame2

In [ ]:
frame.set_index(['c', 'd'], drop=False)

In [ ]:
frame2.reset_index()

## Other pandas Topics

### Integer Indexing

In [ ]:
ser = Series(np.arange(3.))

In [ ]:
ser[-1]

In [ ]:
ser

In [ ]:
# non-integer index, no potential for ambiguity
ser2 = Series(np.arange(3.), index=['a', 'b', 'c'])

In [ ]:
ser2

In [ ]:
ser2[-1]

In [ ]:
# So, for consistent 
ser.ix[:1]

In [ ]:
# position-based indexing
ser3 = Series(range(3), index=[-5, 1, 3])

In [ ]:
ser3

In [ ]:
ser3.iloc[2]    # 2.7 set3.iget_value(2)

In [ ]:
frame = DataFrame(np.arange(6).reshape(3, 2), index=[2, 0, 1])

In [ ]:
frame

In [ ]:
frame.iloc[0]    # 2.7 frame.irow(0)

### Panel Data
Panel data structure : can think of as a multi-dimensional analogue of DataFrame

In [ ]:
import pandas_datareader.data as web

pdata = pd.Panel(dict((stk, web.get_data_yahoo(stk))
                     for stk in ['AAPL', 'GOOG', 'MSFT', 'DELL']))

In [ ]:
pdata

In [ ]:
pdata = pdata.swapaxes('items', 'minor')

In [ ]:
pdata['Adj Close']

In [ ]:
pdata.ix[:, '6/1/2012', :]

In [ ]:
pdata.ix['Adj Close', '5/22/2012':, :]

In [ ]:
statcked = pdata.ix[:, '5/30/2012':, :].to_frame()

In [ ]:
statcked

In [ ]:
statcked.to_panel()